
body {
    margin: 0;
    font-size: 13px;
    font-family: Arial;
    overflow: hidden;
}
.background {
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed; 
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_toystory_16x9_8461039f.jpeg);
    background-repeat: no-repeat;
    background-size: cover;  
}
.content {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding-left: 10px;
}

.ribbon {
    border-radius: 20px;
    margin-top: 73px;
    width: 320px;
    height: 450px;
    position: fixed;
    right: 10%; 
    background-color: #2d80ce;
    background-size: 100%;
}

a {
    color: #00ace4;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.ribbon a {
    color: #131212;
}


.input {
    background: transparent;
    border: none;
    outline: none;
    width: 236px;
    height: 37px;
    padding: 0 10px 0 27px;   
    
}

.username {
    position: absolute;
    top: 170px;
    left: 45px;
    border-radius: 5px;
    background-color: #fafafa;
}

.password {
    position: absolute;
    top: 225px;
    left: 45px;
    border-radius: 5px;
    background-color: #fafafa;
}

.submit {
    position: absolute;
    border: none;
    outline: none;
    top: 310px;
    left: 46px;
    height: 38px;
    width: 236px;
    border-radius: 19px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #f0e9e9;
    background: #00ace4;
    cursor: pointer;
}
    .submit:hover {
        background: #b2d24b;
    }

.signup1{
    position: absolute;
    top: 280px;
    left: 85px;
    color: #0c0c0c;
}

  
@media only screen and (max-width: 100px) {
    .ribbon {
        max-width: 100px;
        margin: 0 auto;
        position: relative;
    }
}

/* ------- Slide Show ------- */
.carousel{
    border-left: 100px;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 1000px) {
  .card img {
    max-height: 42em;
  }
}
.btn{
    color: #e0ecf5;
}
#carouselExampleControls{
    position: fixed;  
    margin-top: 60px;
    left: 8%;
    width: 60%;
    max-width: 1000px;
    max-height: 1000px;
}

