#i{
    color: rgb(243, 82, 82);
    position: relative;
    margin-left: 45%;
}
#status{
    color: rgb(75, 105, 202);
}
.table-bordered{
    width: 80%;
    position: relative;
    margin-left: 12%;
}